fastapi
uvicorn[standard]
motor>=3.3.0
pydantic[email]==2.5.0
langchain
langchain-community
langchain-core
langchain-ollama
python-multipart==0.0.6
bcrypt==4.1.2
python-dotenv==1.0.0
pymongo>=4.5
PyPDF2
adobe-pdfservices-sdk