fastapi>=0.103.0
uvicorn[standard]
motor>=3.3.0
pydantic[email]>=2.11.0
langchain>=0.3.26
langchain-community>=0.3.26
langchain-core>=0.3.66
langchain-ollama>=0.3.3
langchain-openai>=0.3.27
python-multipart==0.0.6
bcrypt==4.1.2
python-dotenv==1.0.0
pymongo>=4.5
pdfplumber
pytesseract
pillow
requests
python-docx
pymupdf
aiosmtplib
email-validator
pydantic-settings>=2.10.1
lxml